/NoOpEntityResolver.class
/TorcsPlugin$ExportAction.class
/TorcsPlugin$ImportAction.class
/TorcsPlugin.class
/XMLOutput.class
/XmlReader.class
/XmlWriter.class
/XmlReader$1Camera.class
/XmlReader$1Surface.class
